@import '../utilities/variables';
@import '../utilities/mixins';

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.wysiwyg {
  text-align: left;
  margin: 0 auto;
  padding: 0;
  border: none;
  grid-column: 1 / 13;

  @include breakpoint(md) {
    grid-column: 2 / 11;
  }

  @include breakpoint(lg) {
    grid-column: 3 / 10;
  }
}
